html,
body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

html,
body,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  width: 100%;
}

canvas {
  display: block;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 24px 0;
  font-size: 26px;
}

.flex {
  display: flex;
}

.desc {
  margin-bottom: 24px;
  color: #4d4d4d;
}

.panel {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  > .figure {
    padding: 24px;

    canvas {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }

    canvas,
    img {
      margin-bottom: 12px;
      border-radius: 4px;
    }

    .quote {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #6d6d6d;
    }
  }
}

.panel,
.border {
  box-shadow: 0 0 0 1px #d2d2d2;
}

.tip {
  position: fixed;
  padding: 12px;
  top: 24px;
  left: 50%;
  min-width: 180px;
  background: #00bcd4;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  animation: showtip .3s both;
  transform: translate(-50%, 0);

  &.hide {
    animation: showtip-reverse .3s both;
  }
}

@keyframes showtip {
  from {
    transform: translate(-50%, -200%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes showtip-reverse {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -200%);
  }
}

@keyframes demo {
  0%, 100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
}
