:root {
  --page-width: 1024px;
  --border-color: rgba(0, 0, 0, .08);
  --color-text: #2d2d2d;
  --color-text-light: #4d4d4d;
  --border-radius: 8px;
}

html,
body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-text);
}

html,
body,
ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  width: 100%;
}

code.tag {
  display: inline-block;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  margin: 0 4px;
  padding: 4px 6px;
  background: rgba(0, 0, 0, .06);
  color: rgba(0, 0, 0, .64);
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

canvas {
  display: block;
  width: 100%;
}

h2 {
  padding: 64px 0 32px;
  font-size: 32px;
  border-bottom: 1px solid var(--border-color);
}

h3 {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 20px;
  font-size: 22px;
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
}

.flex {
  display: flex;
}

.desc {
  margin-bottom: 18px;
}

.panel {
  > .figure {
    position: relative;
    box-shadow: 0 0 0 1px #d2d2d2;
    border-radius: var(--border-radius);
    margin-bottom: 12px;
    overflow: hidden;

    &::before {
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 12px;
      content: attr(data-tag);
      background: rgba(0, 0, 0, .64);
      backdrop-filter: blur(4px);
      padding: 4px 6px;
      border-radius: 4px;
      color: #fff;
      z-index: 1;
    }
  }
}

.quote {
  padding: 12px 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #6d6d6d;
  border-top: 1px solid #d2d2d2;
}

.border {
  box-shadow: 0 0 0 1px #d2d2d2;
}

.tip {
  position: fixed;
  padding: 12px 16px;
  top: 24px;
  left: 50%;
  min-width: 180px;
  background: #00bcd4;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  animation: showtip .3s both;
  transform: translate(-50%, 0);
  z-index: 10;

  &.hide {
    animation: showtip-reverse .3s both;
  }
}

@keyframes showtip {
  from {
    transform: translate(-50%, -200%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes showtip-reverse {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -200%);
  }
}

@keyframes demo {
  0%, 100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
}
